.view {
  position: relative;

  height: 100%;

  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
}

.view__container {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: map-get($z-index, "view");

  display: flex;

  padding: 2rem;

  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.view__error {
  display: none;

  padding: 2rem;

  color: white;

  background-color: $womb-orange;

  line-height: 1.5;
}

.view__visuals {
  opacity: 0;

  transition: opacity 4s ease-in-out;
}

.view__spinner {
  display: none;
}

@include media-query() {
  .view {
    overflow-x: hidden;
    overflow-y: auto;

    padding-top: 4rem;

    -webkit-overflow-scrolling: touch;
  }

  .view__container {
    bottom: auto;
  }
}

.view--is-running {
  .view__container {
    display: none;
  }

  .view__visuals {
    opacity: 1;
  }
}

.view--is-desktop {
  cursor: crosshair;
}

.view--is-error {
  .view__error {
    display: block;
  }

  .view__start-button {
    display: none;
  }
}

.view--is-loading {
  .view__spinner {
    display: inline-block;
  }

  .view__start-button {
    display: none;
  }
}
